@mixin flex-center($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

.App {
  background-color: #e6edec;
  @include flex-center(center, center);

  flex-direction: column;
  font-family: "Julius Sans One", sans-serif;
}

.home {
  @include flex-center(center, center);

  height: 90vh;
  &__title {
    margin-top: 6rem;
    font-size: 5rem;
  }
  &__content {
    @include flex-center(center, center);
    @media (max-width: 1200px) {
      flex-direction: column;
      img {
        @media (max-width: 1200px) {
          width: 80%;
        }
      }
    }
  }
}

.test {
  display: flex;
  flex-direction: column;
}
